$min-mobile-portrait-width: 320px
$min-tablet-portrait-width: 768px
$min-pc-width: 1024px
  
$background-color-1: #e3e3e3
$background-color-2: #c6c6c6
$course-holder-width: 200px
$course-holder-height: 300px
$course-image-height: 200px
$course-info-padding: 10px
$course-info-height: calc( #{$course-holder-height} - #{$course-image-height} - #{$course-info-padding * 2} )


$label-margin-top: 20px
$course-image-height: 200px
$courses-holder-margin-x: 10px
$course-holder-border-width: 1px