@import "./_variables.sass"

body
  margin: 0

// App START
#app
  font-family: Avenir, Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
.page-content
  text-align: center
  margin-bottom: 20px
// App END

// BaseNavBar START
.nav-bar
  display: flex
  justify-content: space-between
  font-size: 20px
  padding: 20px 10px
  background-color: $background-color-1
.nav-bar-link
  color: gray
  text-decoration: none
  margin-right: 15px
  &:last-child
    margin-right: 0
// BaseNavBar END

// HomePage START
.content
  width: calc( #{$course-holder-width + 20px} * 3 )
  display: flex
  justify-content: space-between
  flex-wrap: wrap
  margin: 0 auto 20px
// HomePage END

// HomePageHeader START
.home-page-header-holder
  background-color: $background-color-2
  padding: 40px 10px
  text-align: left
.home-page-header
  margin: 0
  line-height: 30px
// HomePageHeader END

// BaseCourseWindow START
.course-holder
  width: $course-holder-width
  height: $course-holder-height
  border: 1px solid gray
.course-holder-margin
  margin-bottom: 20px
.course-image
  width: 200px
  height: 200px
  display: flex
  justify-content: center
  align-items: center
  background-color: $background-color-1
.course-info
  height: $course-info-height
  display: flex
  flex-direction: column
  justify-content: space-evenly
  padding: $course-info-padding
  text-align: left
.course-button-holder
  width: calc( #{$course-image-height} - #{$course-info-padding * 2} )
  background-color: $background-color-2
  padding: $course-info-padding
  border: 1px solid gray
  border-top: 0
  text-align: left
// BaseCourseWindow END

// CourseDetails START
.course-details-holder
  width: 900px
  display: flex
  justify-content: space-between
.course-details-image
  width: 650px
  height: 200px
  background-color: $background-color-1
  display: flex
  justify-content: center
  align-items: center
.course-enrolled
  width: fit-content
  margin: 0 auto
  padding: 0 10px
  background-color: green
  color: white
  border-radius: 10px
.lecture-button
  width: 50px
  height: 20px
  align-self: flex-end
  background-color: gray
  color: white
  border: 0
// CourseDetails END

// BaseLectureDetails START
.lecture-holder
  width: 500px
  height: 45px
  display: flex
  justify-content: space-between
  margin: 0 auto
  padding: 5px 10px
  border: 1px solid gray
  border-bottom: 0
  &:last-child
    border-bottom: 1px solid gray
.lecture-name
  align-self: flex-start
  margin: 0
// BaseLectureDetails END

// PlayVideo START
.lecture-video
  width: 400px
  height: 200px
  border: 1px solid gray
  background-color: $background-color-1
  margin: 0 auto
  display: flex
  justify-content: center
  align-items: center
// PlayVideo END

// HomePage START
.admin-courses-holder
  width: 600px
  margin: 0 auto
// HomePage END
  
// Course START
.admin-course-holder
  height: 40px
  display: flex
  justify-content: space-between
  align-items: center
  border: 1px solid $background-color-1
  padding: 0 10px
.lectures-in-course
  margin: 0 10px
.lectures-count
  color: white
  background-color: blue
  border-radius: 50%
  padding: 3px 8px
// Course END

// BaseFooter START
.footer
  text-align: center
.fotter-link
  color: #25c8ff
// BaseFooter END

// BaseButton START
.btn
  width: fit-content
  height: fit-content
  cursor: pointer
  border-radius: 3px
  border: 0
  padding: 3px 8px
  &:active
    transform: scale(1.1)
.primary
  color: white
  background-color: #4f72a7
.warning
  background-color: #eab106
.danger
  color: white
  background-color: #7a0303
.success
  color: white
  background-color: #417c41
// BaseButton END

// Global START
.label
  display: block
.text-align-center
  text-align: center
.text-align-left
  text-align: left
.align-self-end
  align-self: flex-end
// Global END
