body
  margin: 0

#app
  font-family: Avenir, Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.nav-bar
  display: flex
  justify-content: space-between
  font-size: 20px
  padding: 20px 10px
  background-color: gray
.nav-bar-link
  margin-right: 15px

.page-content
  margin: 20px 5px
  text-align: center










.footer
  text-align: center
.fotter-link
  color: #25c8ff